<!DOCTYPE html>

<title>Hello AppartementsController!</title>

<div class="example-wrapper">
    <p>Visite</p>

    {{form(appartVisiteForm)}}

    {% if errorMessage is defined %}
        {{errorMessage}}
     {% endif %}
</div>
